In [18]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
#DataFrame with a new index that starts from 1 and increments by 2 for each row.
#Ans:
    import pandas as pd 
def reindex_dataframe(df):
    new_index = [i*2+1 for i in range(len(df))]
    return df.set_index(pd.Index(new_index))

import pandas as pd

# create example DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# reindex DataFrame
new_df = reindex_dataframe(df)

# print new DataFrame
print(new_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [12]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [23]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
#iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#Ans:

import pandas as pd 

def sum_first_three_values(df):
    total = 0
    for i, row in df.iterrows():
        if i < 3:
            total += row['Values']
        else:
            break
    print(total)

df =pd.DataFrame({'Values':[10,20,30,40,50]})

sum_first_three_values(df)

60

In [26]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
#Ans:
import pandas as pd

def add_word_count_column(df):
    # define lambda function to count number of words in each row of 'Text' column
    count_words = lambda text: len(str(text).split())

    # create new column 'Word_Count' with the count of words in 'Text' column
    df['Word_Count'] = df['Text'].apply(count_words)

    # return modified DataFrame
    return df
# create example DataFrame
df = pd.DataFrame({'Text': ['This is a sentence', 'Another sentence', 'A third sentence with more words']})

# add 'Word_Count' column to DataFrame
df = add_word_count_column(df)

# print new DataFrame
print(df)

                               Text  Word_Count
0                This is a sentence           4
1                  Another sentence           2
2  A third sentence with more words           6

In [29]:
#Q7.You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
#addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
#'Username' in df that contains only the username part of each email address.

#Ans:

import pandas as pd

def extract_username(df):
    # define lambda function to extract username from email address
    extract_username = lambda email: email.split('@')[0]

    # create new column 'Username' with the extracted username from 'Email' column
    df['Username'] = df['Email'].apply(extract_username)

    # return modified DataFrame
    return df
     
    
df=pd.DataFrame({'Email':['Vikas@gmail.com','Mohit@gmail.com','Ammu@gmail.com']}) 
df=extract_username(df)
print(df)

             Email Username
0  Vikas@gmail.com    Vikas
1  Mohit@gmail.com    Mohit
2   Ammu@gmail.com     Ammu

In [30]:
#Q8 You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
#all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
#function should return a new DataFrame that contains only the selected rows.

# For example, if df contains the following values:

#    A   B   C

# 0  3   5   1

# 1  8   2   7

# 2  6   9   4

# 3  2   3   5

# 4  9   1   2

#Ans:

import pandas as pd

def select_rows(df):
    # select rows where value in column 'A' is greater than 5 and value in column 'B' is less than 10
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]

    # return new DataFrame with selected rows
    return selected_rows

# create example DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# select rows where value in column 'A' is greater than 5 and value in column 'B' is less than 10
selected_rows = select_rows(df)

# print selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [33]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
#median, and standard deviation of the values in the 'Values' column.

#Ans:

import pandas as pd 

df=pd.DataFrame({'Values':[1,2,10,4,5]})
mean =df.mean()
print(mean)
median =df.median()
print(median)
std=df.std()
print(std)

Values    4.4
dtype: float64
Values    4.0
dtype: float64
Values    3.507136
dtype: float64

In [34]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
#create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
#for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

#Ans:
def add_moving_average(df):
    window_size = 7
    ma_column = 'MovingAverage'

    # Sort the DataFrame by date
    df.sort_values('Date', inplace=True)

    # Calculate the moving average
    ma = df['Sales'].rolling(window_size, min_periods=1).mean()

    # Add the moving average as a new column
    df[ma_column] = ma

    return df

import pandas as pd
import numpy as np

# Generate some sample data
start_date = pd.Timestamp('2022-01-01')
end_date = pd.Timestamp('2022-01-31')
dates = pd.date_range(start_date, end_date, freq='D')
sales = np.random.randint(100, 1000, size=len(dates))
df = pd.DataFrame({'Sales': sales, 'Date': dates})

# Calculate the moving average
df = add_moving_average(df)

# Print the updated DataFrame
print(df.head(10))

   Sales       Date  MovingAverage
0    546 2022-01-01     546.000000
1    192 2022-01-02     369.000000
2    819 2022-01-03     519.000000
3    802 2022-01-04     589.750000
4    751 2022-01-05     622.000000
5    136 2022-01-06     541.000000
6    556 2022-01-07     543.142857
7    684 2022-01-08     562.857143
8    640 2022-01-09     626.857143
9    579 2022-01-10     592.571429

In [37]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
# Monday, Tuesday) corresponding to each date in the 'Date' column.

# For example, if df contains the following values:

#          Date

# 0  2023-01-01

# 1  2023-01-02

# 2  2023-01-03

# 3  2023-01-04

# 4  2023-01-05

#Ans:

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Add 'Weekday' column
df = add_weekday_column(df)

# Print updated DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [46]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

#Ans:
import pandas as pd

def select_january(df):
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    selected_rows = df.loc[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

In [ ]:
#Q1. List any five functions of the pandas library with execution.
#Ans:
Sure, here are five functions of the pandas library along with their execution:

import pandas as pd
df = pd.read_csv('file.csv')
pandas.DataFrame.head(): This function is used to return the first n rows of a DataFrame. Here's an example:
python

import pandas as pd
df = pd.read_csv('file.csv')
first_five_rows = df.head(5)
pandas.DataFrame.describe(): This function is used to get a summary of the DataFrame including count, mean, std, min, max, etc. Here's an example:
python

import pandas as pd
df = pd.read_csv('file.csv')
df_summary = df.describe()
pandas.DataFrame.groupby(): This function is used to group the DataFrame using one or more columns. Here's an example:
python

import pandas as pd
df = pd.read_csv('file.csv')
grouped_df = df.groupby('column_name')
pandas.DataFrame.merge(): This function is used to merge two DataFrames based on a common column. Here's an example:
python

import pandas as pd
df1 = pd.read_csv('file1.csv')
df2 = pd.read_csv('file2.csv')
merged_df = pd.merge(df1, df2, on='common_column')

In [ ]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
#Ans:
DataFrame.shape returns a tuple that represents the dimensions of the DataFrame in terms of rows and columns. Specifically, it returns the number of rows as the first element of the tuple and the number of columns as the second element.

DataFrame.size, on the other hand, returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

In summary, DataFrame.shape gives you the number of rows and columns in the DataFrame, while DataFrame.size gives you the total number of elements in the DataFrame.

In [ ]:
#Q6. Which function of pandas do we use to read an excel file?
#Ans:
To read an excel file in pandas, we use the read_excel() function.

Example: df = pd.read_excel('filename.xlsx')